

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="jumbotron jumbotron-fluid">
        <div class="ml-5 mr-5">
          <h3>PRODUCTS LIST</h3>


          <div class="float-sm-center float-md-right">
            <form class="form-inline">
              <input class="form-control mr-sm-3 mb-4" id="clientSearch" onkeyup="search()" type="search" placeholder="Filter by Name or Phone Number" aria-label="Search">
            </form>
          </div>

          <div class="table-responsive">
            <table id="clientTable" class="table table-striped text-center">
              <thead>
                <tr>
                  <th>COMPANY</th>
                  <th>CONTACT NAME</th>
                  <th>EMAIL</th>
                  <th>PHONE</th>
                  <th>ACTION</th>
                </tr>
              </thead>
              <tbody>
                <div>
                  {{#each client}}
                    <tr>
                      <td>{{this.client_company}}</td>
                      <td>{{this.client_name}}</td>
                      <td>{{this.client_email}}</td>
                      <td>{{this.client_phone}}</td>
                      <td><a href="/client/details/{{this.client_id}}"><button id="clientInfo" client-id="{{this.client_id}}" class="btn btn-outline-danger">MORE</button></a></td>
                    </tr>
                    <a href="#"></a>
                  {{/each}}
                </div>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>






<!-- **************************************************

           EDIT TO POINT TO YOUR .JS HERE:

*****************************************************-->

<script type="text/javascript" src="/js/client.js"></script>
